{% load static %}


<body id="body-pd">
    <header class="header" id="header">
        <div class="header_toggle"> 
            <i class='bx bx-menu' id="header-toggle"></i> 
        </div>
        
        {% if user.is_authenticated %}
        <div class="header_img"> 
            <img src="{{user.profile.profile_picture.url}}" alt="dp">
            
        </div>
    </header>
    <div class="l-navbar" id="nav-bar">
        <nav class="nav">
            <div> 
                
                <div class="nav_list">
                    <a href="/" class="nav_link active">
                        <i class='bx bx-home-alt-2 nav_logo-icon'></i>
                       <span class="nav_name">HOME</span>
                    </a>
                    <a href="{% url 'profile' user.username %}" class="nav_link">
                        <i class='bx bx-user nav_icon'></i>
                        <span class="nav_name">PROFILE</span>
                    </a>
                    <a href="{% url  'edit-profile' user.username %}" class="nav_link">
                        <i class='bx bxs-edit'></i>
                        <span class="nav_name">EDIT PROFILE</span>
                    </a>
                    {% if user.profile.neighborhood %}
                    <a href="{% url 'single-hood' user.profile.neighborhood.id %}" class="nav_link">
                        <i class='bx bx-paper-plane' ></i>
                        <span class="nav_name">NEIGHBORHOODS</span>
                    </a>
                    {% else %}
                    <a href="" class="nav_link">
                        <i class='bx bx-paper-plane' ></i>
                        <span class="nav_name">NO NEIGHBORHOODS YET</span>
                    </a>
                    {% endif %}
                </div>
            </div>
            <a href="{% url 'login' %}" class="nav_link">
                <i class='bx bx-log-out nav_icon'></i>
                <span class="nav_name">LOG OUT</span>
            </a>
            {% else %}
            <a href="{% url 'signup' %}" class="nav_link">
                <i class='bx bx-log-in nav_icon'></i>
                <span class="nav_name">SIGN UP</span>
            </a>
            {% endif %}
        </nav>
    </div>
    
</body>