{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}


{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 bg-white poster">
            <h3 class="text-center tt">Add a Post to your Neighborhood</h3>
            <form novalidate method="post">
                {% csrf_token %}
                {{} form | crispy }}
            </form>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>

{% endblock %}